<!doctype html>
<html>
    <head>
        <title>Monte Carlo Distribution</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <canvas id="montecarlo" width="900" height="600">
            <script>

            </script>
        </canvas>
    </body>
</html>