<!doctype html>
<html>
    <head>
        <title>Natural Simulation</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Natural Simulation</h1>
        <a href="/natsim/walker">Random Walker</a>
    </body>
</html>