<!doctype html>
<html>
    <head>
        <title>Normal Distribution</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <canvas id="normdist" width="900" height="600">
            <script>
                var canvas = document.getElementById("normdist");
                var ctx = canvas.getContext("2d");
                ctx.fillStyle = "#ff0000"

                Walker = new function(){
                    this.x = 900/2;
                    this.y = 600/2;
                }

            </script>
        </canvas>
    </body>
</html>