<!doctype html>
<html>
    <head>
        <title>Random Walker</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <canvas id="walker" width="900" height="600">
            <script>
                var canvas = document.getElementById("walker");
                var ctx = canvas.getContext("2d");
                ctx.fillStyle = "#ff0000";
                var Walker = function(){
                    this.x = 900/2;
                    this.y = 600/2;
                }
                Walker.prototype.display = function(){
                    ctx.fillRect(this.x,this.y,1,1);
                }
                Walker.prototype.walk = function(){
                    var choice = parseInt(Math.random() * 40 % 4);
                    switch (choice){
                        case 0:
                            this.x++;
                            break;
                        case 1:
                            this.x--;
                            break;
                        case 2:
                            this.y++;
                            break;
                        case 3:
                            this.y--;
                            break;
                    }
                    if(this.x >= 900){
                        this.x -= 900;
                    }
                    if(this.x < 0){
                        this.x += 900;
                    }
                    if(this.y >= 600){
                        this.y -= 600;
                    }
                    if(this.y < 0){
                        this.y += 600;
                    }
                }

                var w = new Walker();
                var run = true;
                for(var x = 0; x < 1000000; x++){
                    w.walk();
                    w.display();
                }
            </script>
        </canvas>
    </body>
</html>