<!DOCTYPE html>
<html>
  <head>
    <title>Fractals</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fractals</h1>
    <p> This page is dedicated to fractal exploration, even though fractals and 
    natural simulation coincide. </p> 
  </body>
</html>
