<!doctype html>
<html>
    <head>
        <title>Crap</title>
    </head>
    <body>
        <script type="text/javascript">
            var x = 0;
            var y = 0;

            for (var h =.125; x < 2; x += h){
                y = y + (h * (Math.pow(y, 2) + 1));
                document.write("x: " + x + "&nbsp &nbsp &nbsp &nbsp &nbsp y: " + y + "<br>");
            }

        </script>
    </body>
</html>