<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img id="pageLogo" src="/images/pageLogo.png" alt="Logo">
    <p>Welcome to <%= title %> where I test  concepts and screw around. Probably a lot of broken crap may be here. </p>
    <a href="/threejstest">ThreeJs</a>
    <a href="/natsim">Natural Simulation</a>
    <br>
    <a href="/crap">Crap</a>
  </body>
</html>
