<!doctype html>
<html>
    <head>
        <title>Data Structures and Algorithms</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    	<h1>Data Structures and Algoritms</h1>
        <p>Here are data structures and Algorithms I have learned and are testing.</p>
    </body>
</html>