<!doctype html>
<html>
    <head>
        <title>ThreeJs</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>ThreeJS</h1>
        <a href="/threejs/firstcube">First Cube</a>
    </body>
</html>